@tailwind base;
@tailwind components;
@tailwind utilities;

*{
 
  margin: 0;
  padding: 0;
}

.blue-gradient{
  background: radial-gradient(circle at 10% 20%, rgb(0, 85, 255) 0%, rgb(27, 27, 28) 90%);
}